<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345653947320-ahsc70s3iaredcjjp30kqmu8b79gssk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345653947320-ahsc70s3iaredcjjp30kqmu8b79gssk6</string>
	<key>API_KEY</key>
	<string>AIzaSyCIVosP75D-YgcI---fRUMWEKXg66q48gA</string>
	<key>GCM_SENDER_ID</key>
	<string>345653947320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piya.Demo.FlowerGiftApp</string>
	<key>PROJECT_ID</key>
	<string>flora-app-b772d</string>
	<key>STORAGE_BUCKET</key>
	<string>flora-app-b772d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345653947320:ios:bd208bb6f740c95df67d4d</string>
</dict>
</plist>